1.  <exp>        ::= <or>
2.  <or>         ::= <and> <aux_or>
3.  <aux_or>     ::= '||' <and> <aux_or>
4.  <and>        ::= <eq> <aux_and> 
5.  <aux_and>    ::= '&&' <eq> <aux_and>
6.  <eq>         ::= <comparison> <aux_eq>
7.  <aux_eq>     ::= '==' <comp> <aux_eq>
8.  <aux_eq>     ::= '!=' <comp> <aux_eq> 
9.  <comp>       ::= <term> <aux_comp> 
10. <aux_comp>   ::= '>'  <term> <aux_comp>
11. <aux_comp>   ::= '>=' <term> <aux_comp>
12. <aux_comp>   ::= '<'  <term> <aux_comp>
13. <aux_comp>   ::= '<=' <term> <aux_comp>
14. <term>       ::= <factor> <aux_term> 
15. <aux_term>   ::= '+' <factor> <aux_term> 
16. <aux_term>   ::= '-' <factor> <aux_term> 
17. <factor>     ::= <unary> <aux_factor>
18. <aux_factor> ::= '*' <unary> <aux_factor>
19. <aux_factor> ::= '/' <unary> <aux_factor>
20. <unary>      ::= <primary>
21. <unary>      ::= '-' <unary>
22. <unary>      ::= '!' <unary>
23. <primary>    ::= <number>
24. <primary>    ::= '(' <expression> ')'
25. <aux_or>     ::= e
26. <aux_and>    ::= e
27. <aux_eq>     ::= e
28. <aux_comp>   ::= e
29. <aux_term>   ::= e
30. <aux_factor> ::= e